#cloud-config
users:
  - name: ${username}
    groups: sudo, docker
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_import_id:
      - gh:HarmonicColt4

groups:
  - docker

timezone: Pacific/Auckland

hostname: ${hostname}

packages:
  - qemu-guest-agent
  - net-tools
  - zsh
  - avahi-daemon
    
runcmd:
    - runuser ${username} -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    - chsh -s $(which zsh) ${username}
    - curl -sfL https://get.k3s.io | sh -
    - cd /home/${username}
    - runuser ${username} -c "git clone https://github.com/HarmonicColt4/dotfiles.git"
    - runuser ${username} -c "ln -sf dotfiles/.zshrc .zshrc"
    - runuser ${username} -c "ln -sf dotfiles/.gitconfig .gitconfig"
    - systemctl enable qemu-guest-agent
    - systemctl start qemu-guest-agent
    - echo "done" > /tmp/cloud-config.done